/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {

/* Base Style */	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom site styles */
/* text */
body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.2em; 
  line-height: 1.44em; 
  text-size-adjust: 100%;
}

p {
  line-height: 1.2em;
  padding-bottom: 1.44em;
}

h1 {
  color: #000000;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.44em; 
  line-height: 1.2em;
  text-size-adjust: 100%;
}

h2 {
  color: #000000;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.728em; 
  line-height: 2.0736em; 
  text-size-adjust: 100%;
}

h3 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.44em; 
  line-height: 1.728em; 
}

/* link setting */
/* unvisited link */
a:link {
  color: #e05038;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #963019;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #f2cbbc;
  text-decoration: underline
}

/* selected link */
a:active {
  color: #e05038;
  text-decoration: underline
}

/* media */
img {
  display: block;
}

@media screen and (max-width: 50em) {

  .img1 {
    width: 4.2em;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 50%;
  }  
  .img2 {
    width: 30%;
    height: 18.75%; /*16:10*/
  }
    /* flexbox */
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name {
    font-size: 75%;
  }
  .nav {
    width: 100%;
    font-size: 50%;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.1em solid #000000;
  }
  .photos {
    display: flex;
    justify-content: space-around;
  }
      /*table style/set column */
  .aboutme {
    display: flex;
    flex-direction:column; 
    justify-content: flex-start;
    align-items: flex-start;
  }
  .head1 {
    text-align: left;
    font-size: 1em;
  }
  .ambitions {
    display: flex;
    flex-direction:column;
  }
  .head2 {
    text-align: left;
    font-size: 1em;
  }
} 

@media screen and (min-width: 50em) {

  .img1 {
    width: 8.4em;
    border-style: solid;
    border-width: 0.24em;
    border-radius: 50%;
  }  
  .img2 {
    width: 30%;
    display: block;
    height: 18.75%; /*16:10*/
    max-width: 100%;
  }

  /* Flexbox style */
  .navigation {
  	background-color: pink;
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .name {
  	background-color: green;
    vertical-align: bottom;
  }
  .nav {
  	background-color: grey;
  	margin-left: auto;
  }
  .nav li {
    display: inline-block;
  }

  .photos {
  	background-color: brown;
    display: flex;
    justify-content: space-between;
  }
    /*table style/set column */
  .aboutme {
  	background-color: yellow;
    display:table;
    width:100%;
    table-layout:fixed;
  }
  .head1 {
  	background-color: red;
    display: table-cell;
    text-align: right;
    width :35%;
  }
  .p1 {
  	background-color: grey;
    display: table-cell;
    width: 65%;
  }
  .ambitions {
  	background-color: blue;
    display:table;
    width:100%;
    table-layout:fixed;
  }
  .head2 {
  	background-color: pink;
    display: table-cell;
    text-align: right;
    width :35%;
  }
  .p2 {
  	background-color: brown;
    display: table-cell;
    width: 65%;
  }
}