/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {

/* Base Style */	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom site styles */
/* text */
body {
  color: #46494C;
  background-color: #DCDCDD;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.2em; 
  line-height: 1.44em; 
  text-size-adjust: 100%;
}

p {
  line-height: 1.2em;
  padding-bottom: 1.44em;
}

h1 {
  color: #202C39;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.44em; 
  line-height: 1.2em;
  text-size-adjust: 100%;
}

h2 {
  color: #202C39;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.56em; 
  line-height: 1.2em; 
  text-size-adjust: 100%;
}

h3 {
  color: #202C39;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.44em; 
  line-height: 1.728em; 
}

/* link setting */
/* unvisited link */
p a:link {
  color: #202C39;
  text-decoration: none;
}

/* visited link */
p a:visited {
  color: #202C39;
  text-decoration: none;
}

/* mouse over link */
p a:hover {
  color: #46494C;
  text-decoration: none;
}

/* selected link */
p a:active {
  color: #46494C;
  text-decoration: none;
}

/* media */
img {
  display: block;
}

@media screen and (max-width: 35em) {
  /*home start*/
  .bgi {
    z-index: -2;
    max-width: 100%;
    position: fixed;
    top: -5em;
    left: 0;
  }
  .logo {
    z-index: -1;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .namelogo {
    width: 10em;
  }
  .cnamelogo {
    width: 6em;
  }
  /*home end*/
  h2 {
    padding-top: 0.777em;
    padding-left: 0.333em;
    line-height: 0.333em;
  }
  h3 {
    padding-top: 0.666em;
    padding-left: 0.333em;
    line-height: 1.333em;
  } 
  p {
    padding: 0.333em;
  }
  .img1 {
    width: 4.2em;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 50%;
  }  
  .img2 {
    width: auto;
    height: auto; 
  }
    /* flexbox */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.666em;
    padding-bottom: 0.333em;
  }
  .name {
    font-size: 75%;
  }
  /*nav start*/
  nav {
    width:100%;
    padding-top: 0.666em;
    font-size: 75%;
    margin: 0em;
    padding-bottom: 0em;
  }
  nav ul {
    width: 100%;
    float: right;
    background-color: #000000;
    margin: 0 0 3em 0;
    list-style-type: none; 
    overflow: hidden;
    padding-right: 0.333em;
  }
  nav li {
    float: right;
    border-right: 1px solid #FFFFFF;
  }
  nav li.first {
    border-left: 1px solid #FFFFFF;
  }
  nav li a {
    display: block;
    padding: 0.333em 0.666em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #000000;
  }
  nav li a:link {
    color: #FFFFFF;
    text-decoration: none;
  }
  nav li a:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  nav li a:hover {
    color: #46494C;
    background-color: #FFFFFF;
    text-decoration: none;
  }
  nav li a:active {
    color: #46494C;
    text-decoration: none;
  }
  .homenav {
    position: fixed;
  }
  /*nav end*/

  .photos {
    display: flex;
    justify-content: center;
    padding-right: 0.333em;
    padding-bottom: 0.333em;
  }
  .thumb {
    position: relative;
    width: 5em;
    height: 5em;
    overflow: hidden;
    padding-right: 0.333em;
    padding-left: 0.333em;
  }
  .thumb img {
    position: absolute;
    height: 100%;
    width: auto;
  }
  .img2 {
    width: 30%;
    display: block;
    height: 18.75%; /*16:10*/
    max-width: 100%;
  }
  /*context*/ 
  .head1 {
    text-align: left;
    padding-left: 1.777em;
    font-size: 75%;
  }
  .p1 {
    padding-right:0.333em;
    padding-left: 0.333em;
  }
  .head2 {
    text-align: left;
    padding-left: 1.777em;
    font-size: 75%;    
  }
  .p2 {
    padding-right:0.333em;
    padding-left: 0.333em;
  }
  /*Contact start*/
  .message {
    text-align: center;
    margin-top: 1.777em;
    padding-top: 1.777em;
    padding-bottom: 3.554em;
  }
  .icons {
    display: flex;
    justify-content: center;
  }
  .icons img {
    width: 2em;
    height: 2em;
    margin-right: 0.333em;
  }
  .message a:link {
  color: #202C39;
  text-decoration: underline;
  }
  .message a:visited {
    color: #202C39;
    text-decoration: none;
  }
  .message a:hover {
    color: #46494C;
    text-decoration: none;
  }
  .message a:active {
    color: #46494C;
    text-decoration: none;
  }
  /*Contact end*/
} 

@media screen and (min-width: 35em) {
  /*home start*/
  .bgi {
    z-index: -2;
    max-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .logo {
    z-index: -1;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .namelogo {
    width: 22em;
  }
  .cnamelogo {
    width: 13em;
  }
  /*home end*/
  .img1 {
    width: 8.4em;
    border-style: solid;
    border-width: 0.24em;
    border-radius: 50%;
  }  

  /* Flexbox style */
  .header {
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 1.333em;
    padding-bottom: 0.333em;
    padding-left: 1.777em;
    padding-right:1.777em;
  }
  .name {
    vertical-align: bottom;
  }
  /*nav start*/
  nav {
    padding-top: 0.666em;
    width: 100%;
    margin-bottom: 0;
  }
  nav ul {
    width: 100%;
    float: right;
    background-color: #000000;
    list-style-type: none; 
    overflow: hidden;
    padding-right: 0.333em;
  }
  nav li {
    float: right;
    border-right: 1px solid #FFFFFF;
  }
  nav li.first {
    border-left: 1px solid #FFFFFF;
  }
  nav li a {
    display: block;
    padding: 0.333em 0.666em;
    text-decoration: none;
    font-weight: bold;
    color: #069;
  }
  nav li a:link {
    color: #FFFFFF;
    text-decoration: none;
  }
  nav li a:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  nav li a:hover {
    color: #46494C;
    background-color: #FFFFFF;
    text-decoration: none;
  }
  nav li a:active {
    color: #46494C;
    text-decoration: none;
  }
  .homenav {
    position: fixed;
  }
  /*nav end*/
  .photos {
    display: flex;
    justify-content: center;
    padding-right: 1.777em;
    padding-bottom: 1.777em;
    padding-top: 1.777em;
  }
  .thumb {
    position: relative;
    width: 10em;
    height: 10em;
    overflow: hidden;
    padding-right: 1.333em;
    padding-left: 1.333em;
  }
  .thumb img {
    position: absolute;
    height: 100%;
    width: auto;
  }
  .img2 {
    width: 30%;
    display: block;
    height: 18.75%; /*16:10*/
    max-width: 100%;
  }
    /*context*/
  .aboutme {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  .head1 {
    display: table-cell;
    text-align: right;
    width :25%;
    padding-left: 1.777em;
    padding-right:1.777em;
  }
  .p1 {
    display: table-cell;
    width: 75%;
    padding-right:3.554em;
    padding-left: 1.777em;
  }
  .ambitions {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  .head2 {
    display: table-cell;
    text-align: right;
    width :25%;
    padding-left: 1.777em;
    padding-right:1.777em;
  }
  .p2 {
    display: table-cell;
    width: 75%;
    padding-right:3.554em;
    padding-left: 1.777em;
  }
  /*Contact start*/
  .message {
    text-align: center;
    margin-top: 3.554em;
    padding-top: 1.777em;
    padding-bottom: 3.554em;
  }
  .icons {
    display: flex;
    justify-content: center;
  }
  .icons img {
    width: 2em;
    height: 2em;
    margin-right: 0.333em;
  }
  .message a:link {
  color: #202C39;
  text-decoration: underline;
  }
  .message a:visited {
    color: #202C39;
    text-decoration: none;
  }
  .message a:hover {
    color: #46494C;
    text-decoration: none;
  }
  .message a:active {
    color: #46494C;
    text-decoration: none;
  }
  /*Contact end*/
}